<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ theme }} - {{ zone.Id }}</title>
    <style>
        .table-fixed {
            table-layout: fixed;
        }

        .table-fixed td {
            width: 30px;
            height: 30px; /* Ensuring the height is also fixed */
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            border: 1px solid #000;
            padding: 5px;
        }

        .form-group {
            margin: 10px 0;
        }
    </style>
</head>
<body>
    <h1>{{ theme }} - {{ zone.Id }}</h1>
    <form action="{{ url_for('routes.update_zone_name', theme=theme, zone_id=zone.Id) }}" method="post">
        <div class="form-group">
            <input type="text" name="new_zone_name" placeholder="Enter new zone name" required>
            <button type="submit">Update Zone Name</button>
        </div>
    </form>
    <form action="{{ url_for('routes.add_rows_top', theme=theme, zone_id=zone.Id) }}" method="post">
        <div class="form-group">
            <input type="number" name="num_rows" placeholder="Number of rows to add" required>
            <button type="submit">Add Rows Top</button>
        </div>
    </form>
    <form action="{{ url_for('routes.add_rows_bottom', theme=theme, zone_id=zone.Id) }}" method="post">
        <div class="form-group">
            <input type="number" name="num_rows" placeholder="Number of rows to add" required>
            <button type="submit">Add Rows Bottom</button>
        </div>
    </form>
    <form action="{{ url_for('routes.remove_rows_top', theme=theme, zone_id=zone.Id) }}" method="post">
        <div class="form-group">
            <input type="number" name="num_rows" placeholder="Number of rows to remove" required>
            <button type="submit">Remove Rows Top</button>
        </div>
    </form>
    <form action="{{ url_for('routes.remove_rows_bottom', theme=theme, zone_id=zone.Id) }}" method="post">
        <div class="form-group">
            <input type="number" name="num_rows" placeholder="Number of rows to remove" required>
            <button type="submit">Remove Rows Bottom</button>
        </div>
    </form>
    <form action="{{ url_for('routes.add_columns_left', theme=theme, zone_id=zone.Id) }}" method="post">
        <div class="form-group">
            <input type="number" name="num_columns" placeholder="Number of columns to add" required>
            <button type="submit">Add Columns Left</button>
        </div>
    </form>
    <form action="{{ url_for('routes.add_columns_right', theme=theme, zone_id=zone.Id) }}" method="post">
        <div class="form-group">
            <input type="number" name="num_columns" placeholder="Number of columns to add" required>
            <button type="submit">Add Columns Right</button>
        </div>
    </form>
    <form action="{{ url_for('routes.remove_columns_left', theme=theme, zone_id=zone.Id) }}" method="post">
        <div class="form-group">
            <input type="number" name="num_columns" placeholder="Number of columns to remove" required>
            <button type="submit">Remove Columns Left</button>
        </div>
    </form>
    <form action="{{ url_for('routes.remove_columns_right', theme=theme, zone_id=zone.Id) }}" method="post">
        <div class="form-group">
            <input type="number" name="num_columns" placeholder="Number of columns to remove" required>
            <button type="submit">Remove Columns Right</button>
        </div>
    </form>
    <div class="form-group">
        <button onclick="copyZone()">Copy Zone</button>
    </div>
    <div class="table-responsive">
        <table class="table-fixed">
            {% for row in grid %}
            <tr>
                {% for cell in row %}
                <td class="cell" data-full-content="{{ cell }}" title="{{ formatCellContent(cell) }}">{{ formatCellContent(cell) }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>

    <script>
        function copyZone() {
            const zone = {
                Id: "{{ zone.Id }}",
                WidthCells: {{ zone.WidthCells }},
                DepthCells: {{ zone.DepthCells }},
                FogOfWarCheckpoint: {{ zone.FogOfWarCheckpoint }},
                DecoSeed: {{ zone.DecoSeed }},
                RankMultipliers: {{ zone.RankMultipliers|tojson }},
                Grid: "{{ zone.Grid }}",
                CrusherGridId: {{ zone.CrusherGridId }},
                GridRowRanks: {{ zone.GridRowRanks|tojson if zone.GridRowRanks else 'null' }}
            };
            const zoneString = JSON.stringify(zone, null, 4);
            navigator.clipboard.writeText(zoneString).then(() => {
                alert('Zone content copied to clipboard');
            }).catch(err => {
                alert('Failed to copy zone content: ', err);
            });
        }

        document.addEventListener('DOMContentLoaded', function() {
            var cells = document.getElementsByClassName('cell');
            for (var i = 0; i < cells.length; i++) {
                var content = cells[i].textContent.trim();
                cells[i].setAttribute('title', cells[i].getAttribute('data-full-content'));
                switch(content.charAt(0)) {
                    case 'x':
                        cells[i].style.backgroundColor = '#808080';
                        break;
                    case 'r':
                        cells[i].style.backgroundColor = '#FFA500';
                        break;
                    case 's':
                        cells[i].style.backgroundColor = '#9932CC';
                        break;
                    case 'p':
                        cells[i].style.backgroundColor = '#00FFFF';
                        break;
                    case 'c':
                        cells[i].style.backgroundColor = '#FF1493';
                        break;
                    case 'e':
                        cells[i].style.backgroundColor = '#00FFFF';
                        break;
                    default:
                        cells[i].style.backgroundColor = '#FFFFFF';
                }
                cells[i].addEventListener('mouseover', function() {
                    this.setAttribute('title', this.getAttribute('data-full-content'));
                });
            }
        });
    </script>
</body>
</html>